.ns-home {
  background-image: url('../../assets/landing_background_small.png');
  display: flex;
  flex-direction: column;
  justify-items: left;
  max-height: calc(100vh - 50px);

  .ns-navbar {
    align-self: flex-start;
  }

  .ns-info {
    flex: 1;
    padding-top: 5vh;

    .ns-header {
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      color: $text-light;
      margin: 0;
      display: block;
      font-size: 40px;
    }

    .ns-subheader {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      color: darken($text-light, 40%);
      margin: 0;
      display: block;
      font-size: 26px;
    }
  }

  .ns-socials {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 17px;
    padding-top: 15px;
    position: relative;

    .ns-social-link {
      color: $text-light;
      text-decoration: none;
      display: inline-block;
      padding: 0 10px;

      .ns-underline {
        height: 1px;
        width: 0%;
        display: block;
        background-color: $text-light;
        transition: width ease 0.3s;
      }

      &:hover {
        > .ns-underline {
          width: 70%;
        }
      }

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}

@media (min-width: 500px) {
  .ns-home {
    background-position: top;

    .ns-info {
      .ns-header {
        font-size: 50px;
      }

      .ns-subheader {
        font-size: 28px;
      }
    }
  }
}

@media (min-width: 660px) {
  .ns-home {
    background-image: url('../../assets/landing_background_medium.png');

    .ns-info {
      padding-top: 20vh;
    }
  }
}

@media (min-width: 1050px) {
  .ns-home {
    background-image: url('../../assets/landing_background.png');

    .ns-info {
      padding-top: 25vh;

      .ns-header {
        font-size: 70px;
      }

      .ns-subheader {
        font-size: 34px;
      }
    }
  }
}

@media (min-width: 1600px) {
  .ns-home .ns-info {
    .ns-header {
      font-size: 90px;
    }

    .ns-subheader {
      font-size: 40px;
    }
  }
}
