@import 'home';
@import 'about';

.ns-fullscreen-view {
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100px;
  padding: 25px;
  width: calc(100% - 50px);
  min-height: calc(100vh - 50px);
}
